<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Portfolios</title>
    <!-- Ajoute ici les liens vers tes fichiers CSS si nécessaire -->
</head>
<body>
    <h1>Liste des Portfolios</h1>
    <ul>
    {% for portfolio in portfolios %}
        <li>
            <a href="{% url 'view_portfolio' portfolio.id %}">{{ portfolio.name }}</a>
            - Créé par: {{ portfolio.owner }}
            - Le {{ portfolio.created_at|date:"d F Y" }}
        </li>
    {% empty %}
        <li>Aucun portfolio n'est disponible.</li>
    {% endfor %}
    </ul>

    <!-- Ajoute ici les scripts JavaScript si nécessaire -->
    <script type="module" src="./static/monapp/js/main.js"></script>
</body>
</html>